
/*=============================================
=            Base styles            =
=============================================*/

body{
  background-color: $white;
  color: $black;
  font-size: 16px;
  @media (max-width: 1023px) {
    font-size: 14px;
  }
}

p{
  font-family: $roboto;
  font-size: 1.5em;
  line-height: 1.8;
}

a{
  color: $blue;

  &:hover{
    color: $blue;
    text-decoration: none;
    border-bottom: 2px solid $blue
  }
}

img{
  width: 100%;
}
.large-text{
  font-size: 18em;
  font-weight: 500;
  color: $blue;
  margin: 100px auto 10px;
  line-height: 100px;

  @media (max-width: 767px) {
      font-size: 15em;
    }
}

.semilarge-text{
  font-size: 6em;
  font-weight: 500;
  margin: 50px auto;
  line-height: 100px;

  @media (max-width: 767px) {
      font-size: 4em
    }
}

.l1,.l2,.l3,.l4,.l5{
  line-height: 1;
  font-weight: 500;
}

.l1{
  font-size: 1.5em;
}

.l2{
  font-size: 1.2em;
  word-spacing: 2.5px;
}

.l3{
  font-size: 1em;
  word-spacing: -1.1px;
}

.l4{
  font-size: 0.7em;
  word-spacing: 0;
}

.l5{
  font-size: 0.6em;
  word-spacing: 1.6px;

  span{
    background-color: $black;
    padding: 1px 18em 0;

    @media (max-width: 767px) {
      padding: 1px 15em 0;
    }
  }
}


.elem div{
  position: fixed;
  
  @media (max-width: 767px) {
    display: none
  }
}

.elem-404{
  filter: grayscale(1);
}
.anim{
  transition: all 1.2s
    cubic-bezier(0.00, 1.20, 0.330, 1.20);
}

.b{
  background-color: $blue;
  border-color: $blue;
  box-shadow: 0 1px 2.5px 0 rgba(0, 103, 255, 0.17);
}

.y{
  background-color: $orange;
  border-color: $orange;
  box-shadow: 0 1px 3px 0 rgba(243, 167, 0, 0.22);
}

.r{
  background-color: $red;
  border-color: $red;
  box-shadow: 0 1px 3px 0 rgba(243, 167, 0, 0.22);
}

.ring{
  background: transparent;
  border-width: 10px;
  border-style: solid;
}

.solid{
  background: inherit
}

.circ{
  border-radius: 50%;
}

.dia{
  transform: rotate(45deg) translateZ(50px)  
}

.d1{
  top: 20%;
  left: 26%;
  width: 50px;
  height: 50px;
}

.d2{
  top: 18%;
  left: 56%;
  width: 10px;
  height: 10px;
}

.d3{
  top: 48%;
  left: 86%;
  width: 20px;
  height: 20px;
}

.d4{
  top: 58%;
  left: 66%;
  width: 30px;
  height: 30px;
}

.c1{
  top: 35%;
  left: 12%;
  width: 80px;
  height: 80px;
}

.c2{
  top: 65%;
  left: 31%;
  width: 45px;
  height: 45px;
}

.c3{
  top: 22%;
  left: 65%;
  width: 25px;
  height: 25px;
}

.r1{
  top: 55%;
  left: 50%;
  width: 25px;
  height: 25px;
}

.r2{
  top: 36%;
  left: 76%;
  width: 80px;
  height: 80px;
  border-width: 15px
}

.r3{
  top: 50%;
  left: 26%;
  width: 40px;
  height: 40px;
}

.img-fold{
  box-shadow: -5px 1px 50px 0 rgba(26, 26,26, 0.3)
}
.fold{
  position: relative;
  top: -1px;
  -webkit-filter: drop-shadow(10px 10px 16px rgba(0,0,0,0.7));
  filter: drop-shadow(10px 10px 16px rgba(0,0,0,0.7));
}
.fold-reverse{
  position: relative;
  top: -1px;
  transform: rotateY(180deg);
  -webkit-filter: drop-shadow(10px 10px 16px rgba(0,0,0,0.7));
  filter: drop-shadow(10px 10px 16px rgba(0,0,0,0.7));
}

.bg-white{
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.9)
}

.social-icons{
  width: 100%;
  display: flex;
  justify-content: center;
  &> a{
    margin: 5px;

    &:hover{
      border-bottom: none;

      .twitter{
        fill: #1DA1F2
      }
      .facebook{
        fill: #3B5998
      }
      .linkedin{
        fill: #0077B5
      }
      .instagram{
        fill: #E4405F
      }
      .slack{
        fill: #56B68B
      }
    }

    .social{
      fill: $blue;
    }
  }

}

/*=====  End of Base styles  ======*/

