
/*=============================================
=            Footer Styles            =
=============================================*/
.footer{
  width: 100%;
  height: 100%;
  padding: 0;
  // background: lighten($black, 10%);
  height: 250px;

  .row{
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 800px;
  }
}
.footer-logo{
  width: 120px
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;

  figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .footer-back{
    background: $black;
    color: $white;
    transform: rotateX( 180deg );
    transform-origin: 50% 50%;
  }
}

.card.flipped {
  transform: rotateX( 180deg );
}


/*=====  End of Footer Styles  ======*/

