
/*=============================================
=            Header            =
=============================================*/


.main-logo{
  display: block;
  width: 100%;
  margin: 15% auto 5%;
}


/*=====  End of Header  ======*/

