#faq {
  background-color: $pink-light;

  a {
    color: $blue-dark;
    font-weight: bold;
  }

  .contact-links {
    font-size: $font-size-small;

    a {
      margin: 0 1rem;
    }
  }

  #accordion {
    .card {
      border: 2px solid $yellow;
      border-radius: 5px;
    }
    .card-header {
      text-align: left;
      color: $red;
      font-weight: bold;
      font-size: 18px;

      // Bootstrap resets
      border: none;
      background: none;

      &.collapsed {
        &::before {
          content: url("../img/icon-plus.png");
          margin-right: 1rem;
        }
      }

      &:hover {
        background-color: $yellow;
      }
    }
    .card-body {
      color: $brown;
      font-size: $font-size-small;
    }
  }
}
