#social {
  .social-links {
    background-color: #9033ca;
    border-radius: 10px;
    overflow: hidden;

    .row {
      margin: 0;
    }

    .social-link {
      &:nth-child(odd) {
        background-color: #aa6cdb;
      }

      &:hover {
        cursor: pointer;
        &.twitter {
          background-color: #1da1f2;
        }
        &.facebook {
          background-color: #4267b2;
        }
        &.instagram {
          background: #d6249f;
        }
        &.linkedin {
          background-color: #0077b5;
        }
        &.slack {
          background-color: #4d394b;
        }
        &.blog {
          background-color: $green;
        }
      }
      @include flex-center;
      padding: 48px 0;

      .social-icon {
        display: block;
        width: 32px;
        height: 32px;
      }
    }
  }

  .social-icon {
    &.facebook {
      background-image: url(../img/icon-facebook.svg);
    }
    &.instagram {
      background-image: url(../img/icon-instagram.svg);
    }
    &.linkedin {
      background-image: url(../img/icon-linkedin.svg);
    }
    &.twitter {
      background-image: url(../img/icon-twitter.svg);
    }
    &.slack {
      background-image: url(../img/icon-slack.svg);
    }
  }
}

#footer {
  background-color: $pink-light;
  padding-bottom: 0;

  .footer-container {
    background-color: $blue;

    .footer-bar {
      font-size: $font-size-small;
      color: $white;

      div {
        padding: 16px 0;
      }

      a {
        color: $white;
      }
    }
  }
}
