#social {
  .social-links {
    background-color: $blue;
    border-radius: 10px;
    overflow: hidden;

    .row {
      margin: 0;
    }

    .social-link {
      transition: 0.1s ease-in background-color;

      &:nth-child(odd) {
        background-color: #9f8cdb;
      }

      &:hover {
        cursor: pointer;
        &.twitter {
          background-color: #1da1f2;
        }
        &.facebook {
          background-color: #4267b2;
        }
        &.instagram {
          background: #d6249f;
        }
        &.linkedin {
          background-color: #0077b5;
        }
        &.slack {
          background-color: #4d394b;
        }
        &.medium {
          background-color: $black;
        }
      }
      @include flex-center;
      padding: 48px 0;

      .social-icon {
        display: block;
        width: 32px;
        height: 32px;
      }
    }
  }

  .social-icon {
    &.facebook {
      background-image: url(../img/icon-facebook.svg);
    }
    &.instagram {
      background-image: url(../img/icon-instagram.svg);
    }
    &.linkedin {
      background-image: url(../img/icon-linkedin.svg);
    }
    &.twitter {
      background-image: url(../img/icon-twitter.svg);
    }
    &.slack {
      background-image: url(../img/icon-slack.svg);
    }
    &.medium {
      background-image: url(../img/icon-medium.svg);
    }
  }
}

#footer {
  background-color: $pink-light;
  padding-bottom: 0;

  #footerImage {
    background: url("../img/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 248px;

    // Retina Display
    @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
      only screen and (min--moz-device-pixel-ratio: 1.25),
      only screen and (-o-min-device-pixel-ratio: 1.25/1),
      only screen and (min-device-pixel-ratio: 1.25),
      only screen and (min-resolution: 200dpi),
      only screen and (min-resolution: 1.25dppx) {
      background: url("../img/footer@2x.png");
      height: 496px;
    }
  }

  .footer-container {
    background-color: $blue;

    .footer-bar {
      font-size: $font-size-small;
      color: $white;

      div {
        padding: 16px 0;
      }

      a {
        color: $white;
      }
    }
  }
}
