header {
  background-color: #fffaee;
  margin-bottom: -40px;
  padding-bottom: 96px;

  .header-text {
    .title {
      color: $indigo;
      font-size: $font-size-large;
    }

    .subtitle {
      color: $purple-light;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }
}
