header {
  background-color: $pink-light;
  margin-bottom: -40px;
  padding-bottom: 96px;

  .header-text {
    .title {
      color: $indigo;
    }

    .subtitle {
      color: #8166cd;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }
}
