header {
  background-color: #fffbf3;
  padding-bottom: 96px;
  .hero-image {
    overflow: hidden;
  }
  .header-text {
    .title {
      color: $blue-dark;
    }
    .subtitle {
      color: $blue;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
  }
  .hero-container {
    min-width: 1600px;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  #heroImage {
    position: relative;
    .background {
      width: 100%;
    }
    .art-item {
      position: absolute;
      height: auto;
      &.circle {
        width: 4.5%;
        &.big {
          width: 5.5%;
        }
        &.c1 {
          top: 70%;
          left: 1%;
        }
        &.c2 {
          top: 56%;
          left: 2%;
        }
        &.c3 {
          top: 15%;
          left: 8%;
        }
        &.c4 {
          top: 5%;
          left: 11%;
        }
        &.c5 {
          top: 30%;
          left: 14%;
        }
        &.c6 {
          top: 4%;
          left: 18%;
        }
        &.c7 {
          top: 64%;
          left: 20%;
        }
        &.c8 {
          top: 40%;
          left: 28%;
        }
        &.c9 {
          top: 12%;
          left: 27%;
        }
        &.c10 {
          top: 57%;
          left: 45%;
        }
        &.c11 {
          top: 64%;
          left: 60%;
        }
        &.c12 {
          top: 21%;
          left: 70%;
        }
        &.c13 {
          top: 72%;
          left: 96%;
        }
      }
      &.box {
        width: 6.5%;
        &.b1 {
          top: 54%;
          left: 24.5%;
        }
        &.b2 {
          top: 2%;
          left: 34%;
        }
        &.b3 {
          top: 26%;
          left: 81%;
        }
        &.b4 {
          top: 5%;
          left: 83%;
        }
      }
      &.vehicle {
        width: 11%;
        &.v1 {
          top: 38%;
          left: 3%;
        }
        &.v2 {
          top: 32%;
          left: 89%;
        }
      }
      &.wifi {
        width: 1.2%;
        &.w1 {
          top: 59.5%;
          left: 8.7%;
        }
        &.w2 {
          top: 2.5%;
          left: 49.5%;
          path {
            animation-delay: 1s !important;
          }
        }
        &.w3 {
          top: 21.5%;
          left: 89.25%;
          path {
            animation-delay: 2s !important;
          }
        }
        path {
          &:nth-child(1) {
            animation: blink-1 5s linear infinite alternate;
          }
          &:nth-child(2) {
            animation: blink-2 5s linear infinite alternate;
          }
        }
      }
    }
  }
}

.timer-text {
  color: #8166cd;
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
}

@keyframes blink-1 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes blink-2 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.fill {
  display: none;
}

.apply-btn.disabled > .fill {
  background-color: $green-dark !important;
  border: 1px solid $green-dark !important;
  box-sizing: unset;
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  top: -1px;
  z-index: -1;
  animation: fillprogress 40s;
  transition: all 200ms ease-out;
}

@keyframes fillprogress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
