// Mixins

// Font Mixins
@mixin font-primary {
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
