.navbar {
  background-color: $black;
  height: 80px;
  transition: 0.2s ease-in all;

  .brand-title {
    font-size: 18px;
    font-weight: bold;
    color: white;

    span {
      margin-left: 16px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .nav-item {
    text-transform: uppercase;
    margin: 0 8px;
  }

  @media (min-width: 992px) {
    &.navbar-shrink {
      height: 48px;
    }
  }

  @media (max-width: 992px) {
    .navbar-nav {
      padding: 16px;
      border-radius: 2px;
      background-color: $black;
    }
  }

  .github-link {
    img {
      height: 24px;
      margin-right: 8px;
    }

    color: white;
    text-transform: none;
  }
}
