#schedule {
  background-color: $pink-light;

  .speaker {
    &-type {
      font-weight: bold;
      font-size: $font-size-small;
      text-transform: uppercase;
      color: $yellow;
    }

    &-profile {
      font-size: $font-size-small;
      color: $blue-dark;
      font-weight: bold;
    }
  }

  #scheduleTable {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .table {
      display: block;
      td,
      th {
        border: none;
      }

      th {
        padding: 32px;
        text-align: center;
        color: $white;
      }

      td {
        font-size: 18px;
        padding: 20px;
        background-color: $white;

        &:first-child {
          font-weight: bold;
          white-space: nowrap;
        }

        &:last-child {
          width: 320px;
          max-width: 320px;
        }
      }

      tr {
        box-sizing: border-box;
      }
    }

    .table-1 {
      thead {
        background-color: $blue;
      }

      tr {
        border-left: 4px solid $blue;
        border-bottom: 1px solid $blue;
        border-right: 1px solid transparent;
      }

      td:first-child {
        color: $blue;
      }
    }

    .table-2 {
      thead {
        background-color: $pink;
      }

      tr {
        border-left: 4px solid $pink;
        border-bottom: 1px solid $pink;
        border-right: 1px solid transparent;
      }

      td:first-child {
        color: $pink;
      }
    }

    .table-3 {
      thead {
        background-color: $yellow;
      }

      tr {
        border-left: 4px solid $yellow;
        border-bottom: 1px solid $yellow;
        border-right: 1px solid $yellow;
      }

      td:first-child {
        color: $yellow;
      }
    }
  }

  @media (max-width: 991px) {
    #scheduleTable {
      .table-1 {
        tr {
          border: 1px solid $blue !important;
        }
      }

      .table-2 {
        tr {
          border: 1px solid $pink !important;
        }
      }

      .table-3 {
        tr {
          border: 1px solid $yellow !important;
        }
      }

      .table {
        thead {
          border-radius: 10px 10px 0 0;
          display: flex;
          overflow: hidden;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}
