#tracks {
  background-color: $purple;

  .track-list {
    background-color: $pink-light;
    border-radius: 10px;

    .track-item {
      @include flex-center;
      flex-direction: column;
      padding: 2rem;
      transition: 0.15s ease-in all;

      &:nth-child(even) {
        background-color: $white;
      }

      .title,
      .subtitle {
        font-weight: bold;
        text-align: center;
      }

      .title {
        color: $indigo-dark;
      }

      .subtitle {
        color: $indigo;
        font-size: $font-size-small;
      }

      &:hover {
        background-color: $green;
        transform: scale(1.1);
        z-index: 10;
      }
    }
  }
}
