// Variables

// Color Palette
$white: #fff !default;
$black: #000 !default;

$purple-light: #8166cd !default;
$purple: #9124cd !default;
$indigo: #51009e !default;
$indigo-dark: #0f0a1e !default;
$yellow: #ffd33d !default;
$orange: #ff813a !default;
$orange-dark: #e15841 !default;
$pink-light: #fffaee !default;
$pink: #ff7181 !default;
$red: #bb0025 !default;
$green: #48d1b1 !default;
$green-dark: #3fba9d !default;
$brown: #836643 !default;

// Typography
$font-size-base: 24px !default;
$font-size-small: 16px !default;
