// Variables

// Color Palette
$white: #fff !default;
$black: #000 !default;

$blue-light: #e6d2e7 !default;
$blue: #8166cd !default;
$blue-dark: #312457 !default;
$yellow: #ffd33d !default;
$orange: #ff813a !default;
$pink-light: #fff9f0 !default;
$pink: #ff858a !default;
$red: #e15841 !default;
$green: #6bc8b0 !default;
$green-dark: #3fba9d !default;
$brown: #836643 !default;

// Typography
$font-size-base: 24px !default;
$font-size-small: 16px !default;
